REACT_APP_ADMIN_USER_ID=USER_ID_HERE
REACT_APP_FIREBASE_API_KEY=API_KEY_HERE
REACT_APP_FIREBASE_AUTH_DOMAIN=AUTH_DOMAIN_HERE
REACT_APP_FIREBASE_PROJECT_ID=PROJECT_ID_HERE
REACT_APP_FIREBASE_STORAGE_BUCKET=STORAGE_BUCKET_HERE
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=MESSAGING_SENDER_ID_HERE
REACT_APP_FIREBASE_APP_ID=APP_ID_HERE
REACT_APP_BACKEND_API_URL=https://api.dcufotosoc.ie
MAIL_PASSWORD=MAIL_PASSWORD_HERE
MAIL_USERNAME='equipment@dcufotosoc.ie'
MAIL_DEFAULT_SENDER='equipment@dcufotosoc.ie'
MAIL_REPLY_TO='equipment@dcufotosoc.ie'
SHEET_ID=SHEET_ID_HERE
CALENDAR_ID=CALENDAR_ID_HERE@group.calendar.google.com